@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
.logo {
  width: 19%;
  margin: 1%;
  padding-left: 6%;
}
/* hamburger menu */
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #168b95;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #168b95;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu li:hover {
  display: block;
  background: white;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
.menu ul li a:hover {
  color: #666;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #666;
}
.menu a:hover {
  text-decoration: none;
  color: #666;
}
nav {
  display: none;
}
/* Body */
body {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
}
/* font-family: 'Caveat', cursive;
font-family: 'Quicksand', sans-serif; */
h1 {
  font-family: 'Caveat', cursive;
  font-size: 3.375em;
  color: #524F4F;
}
/* Break */
.page_break {
  font-family: 'Caveat', cursive;
  font-size: 1.7em;
  color: #168b95;
  text-align: center;
  padding: 0% 0 0% 0;
}
/* Services Section */
.services {
  background-color: white;
  padding-bottom: 4%;
}
.services_column h3 {
  color: #168b95;
  padding-bottom: 2%;
  font-family: 'Quicksand', sans-serif;
}
.services_column p {
  color: black;
  background-color: white;
  line-height: 1.563rem;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}
.services_column a {
  background: #168b95;
  color: white;
  border-radius: 0.313rem;
  text-decoration: none;
  padding: 2% 4%;
}
.services_column a:hover {
  background-color: #713823;
}
/* founder section */
.page_break2 {
  font-family: 'Caveat', cursive;
  font-size: 1.7em;
  color: #168b95;
  text-align: center;
  padding: 2%;
}
.founder {
  background-color: #168b95;
}
.content {
  color: white;
  padding: 0 6% 6% 8%;
}
.content a {
  color: #168b95;
  border-radius: 0.313rem;
  text-decoration: none;
  border: 2px solid white;
  color: white;
}
.content a:hover {
  background-color: #713823;
}
.content ul {
  line-height: 22px;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}
.aboutme {
  padding: 10% 0 2% 0;
  font-size: 3.2em;
  text-align: center;
  color: #168b95;
}
/* Services Page */
.services-section {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding-bottom: 8%;
}
.servicespage {
  font-size: 3.2em;
  text-align: center;
  color: #168b95;
}
article.services_column {
  padding: 5%;
}
article.column {
  padding: 5%;
}
.column h2 {
  color: #168b95;
  padding-bottom: 2%;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
}
.column h3,
h4 {
  color: black;
  font-size: 1rem;
}
.column h4 {
  padding-bottom: 6%;
}
.column p {
  color: black;
  background-color: white;
  line-height: 1.563rem;
  font-weight: lighter;
  font-family: 'Quicksand', sans-serif;
}
.column a {
  background: #168b95;
  color: white;
  border-radius: 0.313rem;
  text-decoration: none;
  padding: 2% 4%;
}
.column a:hover {
  background-color: #713823;
}
/*===================================


  Contact Page Styling


*=====================================*/
.payinfo {
  color: grey;
  padding: 5%;
}
.payinfo h2 {
  font-size: 1rem;
}
.payinfo ol {
  font-size: 0.9rem;
}
.payinfo p {
  font-size: 0.9rem;
}
.contactpage {
  font-size: 3.2em;
  padding-left: 5%;
  color: #168b95;
}
.thankyou h1 {
  padding: 11% 0 1% 0;
  font-size: 3.2em;
  text-align: center;
  color: #168b95;
}
.thankyou p {
  text-align: center;
  font-size: 1.2rem;
  color: grey;
  padding-bottom: 6%;
}
.payment {
  width: 100%;
}
.form {
  padding: 0% 6% 7% 6%;
}
.contact-form {
  background: #8BE0DD;
  border-radius: 10px;
  padding: 10px;
}
.label_input_wrap {
  display: block;
}
.submit input {
  background: #807D7D;
  color: white;
  padding: 7px;
  font-weight: bold;
}
.submit input:hover {
  background: #713823;
}
.input-section {
  margin-bottom: 10px;
}
input {
  padding: 5px 10px;
  border-radius: 3px;
}
textarea {
  border-radius: 3px;
}
label {
  font-weight: bold;
  font-size: small;
  padding-bottom: 3px;
}
.pseudo p:first-of-type:before {
  content: "Your Feedback ";
  font-weight: bold;
}
img.services {
  width: 100%;
}
.founder img {
  width: 75%;
  padding: 5% 0 1% 9%;
}
/* #map {

  height: 200px;
  width: 100%;
} */
/* Footer Section */
.button {
  width: 35%;
  margin: 4% auto 0 auto;
  padding: 2% 1%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.125rem;
  border: 0.125rem solid #168b95;
  color: #168b95;
}
.button:hover {
  background-color: #168b95;
  color: white;
  cursor: pointer;
}
.footer_banner {
  background-color: white;
  padding: 4%;
  border: 0.11rem solid #713823;
}
.footer_header {
  color: #168b95;
  text-align: center;
  letter-spacing: 0.25rem;
}
.create {
  text-align: center;
  padding: 2%;
  background-color: #168b95;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.125rem;
}
/* social media */
.socialmedia {
  background-color: #168b95;
  text-align: center;
  font-size: x-large;
  padding: 2% 0 3% 0;
}
.fa {
  padding: 13px;
  text-decoration: none;
  margin: 8px 0 2px 0;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #168b95;
  color: white;
}
.fa-twitter {
  background: #168b95;
  color: white;
}
.fa-linkedin {
  background: #168b95;
  color: white;
}
.fa-youtube {
  background: #168b95;
  color: white;
}
.fa-instagram {
  background: #168b95;
  color: white;
}
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section h1 {
  text-align: left;
  font-size: 2.2rem;
  font-family: 'Caveat', cursive;
  padding-top: 5%;
  z-index: 1;
  opacity: 0.9;
  color: white;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.display {
  width: 100%;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
/* media jquery */
@media (width: 375px) {
  .section {
    height: 32vh;
  }
}
@media (max-width: 387px) {
  .section {
    height: 33vh;
  }
}
@media (min-width: 388px) and (max-width: 490px) {
  .section {
    height: 42vh;
  }
}
@media (min-width: 491px) and (max-width: 560px) {
  .section {
    height: 48vh;
  }
}
@media (min-width: 561px) and (max-width: 687px) {
  .section {
    height: 60vh;
  }
}
@media (min-width: 690px) and (max-width: 790px) {
  .section {
    height: 67vh;
  }
  .section h1 {
    font-size: 1.3rem;
    padding-top: 25%;
  }
}
@media (width: 768px) {
  .section {
    height: 45vh;
  }
}
@media (min-width: 791px) and (max-width: 1023px) {
  .section {
    height: 80vh;
  }
}
@media (width: 1024px) {
  .section {
    height: 40vh;
  }
}
@media (min-width: 750px) {
  .hamburger,
  .cross,
  .menu {
    display: none;
  }
  nav {
    display: block;
  }
  header nav ul {
    list-style: none;
    float: right;
    padding-top: 4%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-right: 10%;
  }
  nav ul li {
    display: inline-block;
    float: left;
    color: white;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  ul li a {
    color: #168b95;
    text-decoration: none;
  }
  ul li a:hover {
    color: white;
    background: #713823;
    padding: 5px;
  }
  .page_break {
    padding: 8% 0 0% 0;
  }
  .services {
    display: inline-block;
    width: 100%;
  }
  .services_column {
    width: 26%;
    float: left;
    padding-left: 5%;
  }
  .services_column h3 {
    text-align: left;
  }
  .services_column p {
    text-align: left;
  }
  .founder {
    width: 100%;
    display: flex;
    padding: 2% 0;
  }
  .content a {
    padding: 1% 3%;
    margin-right: 68%;
  }
  .mypic img {
    width: 100%;
    margin: 3% 10%;
    padding-left: 5%;
  }
  .content {
    width: 540px;
    padding: 3% 0 0 12%;
  }
  .column {
    width: 26%;
    float: left;
    padding-left: 5%;
  }
  .column h2 {
    text-align: left;
  }
  .column h3,
  h4 {
    text-align: left;
  }
  .column p {
    text-align: left;
  }
  .contactpage {
    text-align: left;
    padding: 11% 0 1% 5%;
  }
  /* #map {
  height: 200px;
  width: 100%;
} */
  .payinfo {
    padding: 0 10% 0% 5%;
  }
  .payinfo ol {
    padding-left: 4%;
  }
  article.services_column {
    padding: 3%;
  }
  article.column {
    padding: 3%;
  }
  .button {
    width: 20%;
    margin: 2% auto 0 auto;
    padding: 2% 1%;
  }
  .logo {
    width: 11%;
    float: left;
    margin-left: 0%;
  }
  .slider {
    padding-top: 10%;
  }
  .payment {
    width: 100%;
    display: flex;
  }
  .servicespage {
    padding: 10% 6% 0% 0%;
    /* text-align: center; */
  }
  .section h1 {
    font-size: 3.6rem;
    padding: 20% 0% 0% 2%;
    margin: 15px;
  }
}
@media (max-width: 900px) and (min-width: 751px) {
  .page_break {
    padding: 1% 0 0% 0;
  }
}
@media (min-width: 800px) {
  .form {
    width: 600px;
    padding: 0 0 6% 5%;
  }
}
