// out: false

//colors

@primary-color: #168b95;
@secondary-color: #713823;
@background-colr: white;
@font-text: black;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@header:'Caveat Brush', cursive;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@text-font:'Quicksand', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@headline-font:'Quicksand', sans-serif;


